<div class="main posts-new">
  <p>
    編集・削除機能は未実装です。誤って投稿すると、機能実装まで世界に発信され続けます。
  <br>
    ※フリではありませんので、絶対に止めてください。もう一度言います、フリではありません。
  </p>

  <div class="container">
    <h1 class="form-heading">投稿する</h1>

    <%= form_tag("/posts/create") do %>
        <div class="form">
          <div class="form-body">
            <textarea name = "content"></textarea>
            <input type="submit" value="投稿">
          </div>
        </div>
    <% end %>
  </div>
</div>
